---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import NormasSectorGubernamental from "../components/NormasSectorGubernamental.astro";
---

<Layout title="Marce">
  <div class="absolute inset-0 -z-10  w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">

    <Navbar />
    <NormasSectorGubernamental />
  </div>

</Layout>
