<section class="bg-white ">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class=" text-gray-500 sm:text-lg ">
      <h2
        class="mb-4 text-4xl tracking-tight font-bold text-gray-900 "
      >
        Contabilidad <span class="font-extrabold">Especializada</span>
      </h2>
      <p class="mb-4 font-light">
        La contabilidad especializada se refiere a la aplicación de principios
        contables y técnicas específicas para sectores o industrias
        particulares. En lugar de seguir un enfoque genérico de contabilidad, la
        contabilidad especializada se adapta a las necesidades y requisitos
        únicos de un campo específico. Algunos ejemplos de contabilidad
        especializada incluyen:
      </p>
      <div class="grid sm:grid-cols-2 w-full">
        <div class="">
          <h3 class="mb-4 text-sm font-bold">Contabilidad de costos:</h3>
          <p class="mb-4 text-sm">
            Se centra en el análisis de los costos de producción y la
            determinación del costo de los productos o servicios. Es crucial en
            industrias como la manufacturera, la construcción y la hostelería.
          </p>
          <h3 class="mb-4 text-sm font-bold">Contabilidad financiera:</h3>
          <p class="mb-4 text-sm">
            Es la forma tradicional de contabilidad que se utiliza para
            registrar transacciones financieras y preparar estados financieros.
            Se aplica en todos los sectores, pero especialmente en empresas con
            obligaciones regulatorias de informes financieros, como las empresas
            públicas.
          </p>
          <h3 class="mb-4 text-sm font-bold">Contabilidad gubernamental:</h3>
          <p class="mb-4 text-sm">
            Se refiere a la aplicación de principios contables en organizaciones
            del sector público, como entidades gubernamentales y municipios. Las
            prácticas contables en este ámbito están reguladas por normativas
            específicas.
          </p>
        </div>
        <div class="hidden sm:flex justify-center items-center">
          <img
            src="https://www.mademi.com/images/servicios/destacada-contabilidad-domicilio.jpg"
            alt=""
            class="w-[20rem] rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
