<footer class="bg-cyan-900 p-4">
  <div class=" bg-white rounded-lg shadow">
    <div
      class="w-full block mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
      <span class="text-sm block lg:flex text-gray-500 sm:text-center "
        >© 2024 La casa de la contabilidad especializada. 
      </span>
      <span class="text-sm text-gray-500 sm:text-center "
        >Derechos reservados
      </span>
    </div>
  </div>
</footer>
