<article class="p-5">

  <section class=" lg:p-10">
    <div
      class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2"
    >
      <div class="sm:text-lg">
        <h2
          class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
        >
          Importancia del sector seguro
        </h2>
        <p class="text-sm">
          Ante las grandes pérdidas materiales y humanas causadas por los
          desastres naturales, las economías han sufrido quebrantos, los cuales
          las compañías aseguradoras han mitigado mediante el instrumento del
          seguro una vez materializados los hechos amparados en la póliza; con
          lo cual las empresas de seguros participan, colaboran y asesoran a los
          clientes(asegurados) dándole opciones de seguros, riesgos, cubiertos,
          primas, etcétera.
          <br /><br />
          La importancia fundamental radica en un asesoramiento que comienza antes
          de que el asegurado contrate su póliza, durante el tiempo en que la suscriba
          y también en caso de producirse un siniestro. Este tipo de empresas juegan
          un papel importante para el desarrollo del país al proteger capitales producidos,
          industrias, bienes y familias; de igual forma contribuye a generar fuentes
          de empleo permitiendo que más familias se vean beneficiadas económicamente
          y puedan satisfacer sus necesidades.
        </p>
      </div>
      <div class=" gap-4 mt-8 flex justify-center">
        <img
          class="w-full lg:w-10/12 -mt-3 rounded-lg"
          src="../sector-seguros2.jpeg"
          alt="sector agricola 2"
        />
      </div>
    </div>
  </section>

  <section class=" mt-10 lg:p-10">
    <div
      class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2"
    >
      <div class="sm:text-lg">
        <h2
          class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
        >
          Caracteristicas de las empresas de seguros
        </h2>
        <p class="text-sm">
          • Las entidades aseguradoras, para poder afrontar los riesgos
          derivados de su actividad deben disponer de los recursos financieros
          suficientes y en consecuencia la legislación les impone determinadas
          restricciones. <br /><br />
          • Dada la conveniencia de que exista permanencia y estabilidad en este
          sector, las normas legales suelen prohibir que esta actividad pueda ser
          desarrollada por personas naturales. <br /><br />
          • El ejercicio de una actividad de intermediación financiera que tiene
          que inspirar la máxima confianza entre asegurados e inversores conlleva
          que estas entidades estén sometidas a la tutela del Estado que los somete
          a control, tanto para el inicio de su actividad como del desarrollo. <br
          /><br />
          • Para operar de una forma correcta las sociedades de seguros se rigen
          bajo la ley de sociedades de seguros, la cual constituyen un tipo de sociedad
          con particularidades bien definidos. <br /><br />
          • La ley de sociedades de seguros tiene por objeto regular la constitución
          y el funcionamiento de las sociedades de seguros y la participación de
          los intermediarios de seguros, a fin de velar por los derechos del público
          y de esta manera facilitar el desarrollo de la actividad aseguradora. <br
          /><br />
          • También es de considerar que el comercio de asegurar riesgos a base de
          primas solo podrá hacerse en El Salvador por sociedades de Seguros, constituidas
          a la ley que rige a estas mismas y que tengan por finalidad el desarrollo
          de la actividad de seguros, reaseguros, fianzas y reafianzamientos. Esto
          debido a que estarán vigiladas y fiscalizadas por la Superintendencia del
          Sistema Financiero de nuestro País.
        </p>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-1 gap-4 mt-8 ">
        <div class="flex justify-center">
          <img
            class="w-full lg:w-7/12 lg:-ml-20 rounded-lg"
            src="../sector-seguros1.jpeg"
            alt="sector seguros 1"
          />

        </div>
        <div class="flex justify-center">
          
          <img
            class="w-full lg:w-7/12 rounded-lg mt-5"
            src="../sector-seguros7.jpeg"
            alt="sector seguros 2"
          />
        </div>

      </div>
    </div>
  </section>

  <div class="mt-10 lg:pt-10 lg:px-10 lg:w-8/12">
    <h2 class="text-4xl font-bold text-red-600">
      Normas Contables 
    </h2>
  </div>

  <div class="lg:p-10 lg:w-8/12">
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para constituir provisiones por riesgo país (NCES-02)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3><br />
        Art. 1.- Las presentes Normas tienen por objeto establecer los criterios
        para el establecimiento de las políticas y procedimientos para la identificación,
        revisión y control del riesgo país en las actividades de colocación de recursos
        en el exterior; así como establecer las bases de cálculo y la oportunidad
        de la constitución de las provisiones contables para representar el referido
        riesgo.<br /><br />
        <h3 class="font-bold">Sujetos</h3>

        <br />
        Art. 2.- En los casos que la Ley los autorice para realizar inversiones en
        el extranjero, los sujetos obligados a cumplir con esta Norma son: <br
        /><br />
        a) Las subsidiarias nacionales o extranjeras, de bancos o de controladoras
        de finalidad exclusiva constituidos en El Salvador;<br />
        b) Las sociedades de seguros constituidas en El Salvador y sus filiales;<br
        />
        c) Las sucursales de aseguradoras extranjeras que operan en El Salvador;<br
        />
        d) Las cooperativas que prestan servicios de seguros;<br />
        e) Las instituciones oficiales de crédito; y<br />
        f) Cualquier entidad sometida a la competencia de la Superintendencia del
        Sistema Financiero, autorizada para realizar colocaciones en el extranjero.<br
        /><br />
        Las expresiones entidad o entidades, utilizadas en estas Normas, son extensivas
        para todas las entidades mencionadas en el inciso anterior; el término Superintendencia
        equivale a Superintendencia del Sistema Financiero.
      </p>
    </div>

    <!-- revisar -->

    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Instructivo para la contabilización de los intereses y costas procesales
        condonados, y reservas de saneamiento de los préstamos a refinanciar,
        bajo el programa de rehabilitación de los sectores productivos
        directamente afectados por el conflicto (NCB-002)
      </h2>
      <p class="text-sm">
        OBJETIVO<br /><br />
        Unificar la contabilización de los intereses y costas procesales condonados;
        así como la aplicación de las reservas de saneamiento de los préstamos bajo
        el esquema. Intereses<br /><br />
        La diferencia (no reservada) que resulte de la comparación del saldo de capital
        e Intereses contabilizados (en Préstamos, Deudores Varios, Otros Deudores,
        etc.) contra el saldo de capital e interés recalculados al 8% (monto a refinanciar)
        que establece el programa, deberá contabilizarse, si es rebaja en las cuentas
        de activo 160210 (Bancos) ó 1601-10 (Financieras) ó 1801 (FOSSAFFI) que se
        denomine "Diferencia por Compensar Decreto No.292", hasta que el Banco Central
        de Reserva los compense con los fondos que proporcionará el Estado. Cuando
        el recálculo resulte en un incremento de valores, la variación debe acreditarse
        a las reservas de saneamiento respectivas.<br /><br /> La posición rebajada
        que estuviere reservada, deberá liquidarse contra la respectiva reserva constituida
        y para aquella porción de intereses que esté registrada en cuentas de orden,
        hacer la contrapartida para liquidarlos.
      </p>
    </div>

    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la reclasificación contable de los préstamos y contingencias
        de los bancos y financieras (NCB-005)
      </h2>
      <p class="text-sm">
        OBJETIVO<br /><br />
        Establecer las normas contables que regulen el traslado de préstamos de cartera
        vigente a cartera vencida y el tratamiento contable de la conversión de una
        contingencia en préstamo.<br /><br />
        II. NORMAS GENERALES<br /><br />
        1. La mora de más de noventa días de una cuota o del saldo de capital e intereses,
        hará que el capital se clasifique en cartera vencida. Los intereses provisionados
        y los que en el futuro se devenguen se controlarán en las cuentas de orden,
        siempre que exista morosidad.
        <br /><br />
        2. Para fines de estas normas las prórrogas que se otorguen, no modificarán
        la condición de morosidad del préstamo. <br /><br />
        3. Los plazos para los traslados establecidos en estas normas son máximos,
        por lo tanto, las instituciones pueden reducirlos.<br /><br />
        III. RECLASIFICACION DE PRESTAMOS Y CONTINGENCIAS<br /><br />
        1. Se trasladará a cartera vencida únicamente el principal. Las causas que
        motivan el traslado son las siguientes: Existan cuotas o saldo con mora superior
        a 90 días.<br /><br />
        Desde que la Junta Directiva de la institución o a quien corresponda tomó
        la decisión de cobrarlo por la vía judicial.<br /><br />
        2. El principal podrá reintegrarse a cartera vigente, cuando no tenga ninguna
        cuota o saldo con mora superior a 90 días y a partir de su traslado se le
        provisionarán los intereses correspondientes.<br /><br />
        3. Cuando una institución haga efectivo el pago por el incumplimiento de
        un aval, fianza o carta de crédito por parte de un cliente, deberá contabilizarlo
        como préstamo vencido hasta que se emita el documento que lo convierte en
        préstamo o hasta su recuperación total.<br /><br />
        4. Si la institución efectuare el pago antes mencionado, procederá a eliminar
        los “Derechos y Compromisos Futuros”, correspondientes.<br /><br />
        5. Los préstamos que se otorguen para pagar al vencimiento, deben considerarse
        vencidos para los efectos de estas normas. Se exceptúan los garantizados
        con depósitos de dinero, los otorgados para la producción, para la construcción
        de inmuebles y todos aquellos en los que la fuente de pago del préstamo original
        esté vinculada con la terminación de la obra o proyecto.
      </p>
    </div>

    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la contabilización de intereses de las operaciones activas y
        pasivas de los bancos y financieras (NCB-006)
      </h2>
      <p class="text-sm">
        OBJETIVO<br /><br />
        Normar la contabilización de los intereses devengados en las operaciones
        activas y pasivas de los bancos, de tal forma que reflejen razonablemente
        el costo o producto de la intermediación financiera.<br /><br />
        II- NORMAS DE CONTABILIZACION<br /><br />
        1. Los intereses por cobrar, excepto los recargos por mora, y los gastos
        por intereses, deberán contabilizarse diariamente. Los bancos y financieras
        que tengan limitaciones de orden operativo o tecnológico para hacer la provisión
        diaria, deberán hacerla al menos al final de cada mes. Los intereses moratorios
        deberán contabilizarse hasta que se perciban.<br /><br />
        2. Derogado en sesión del Consejo Directivo CD-74/98 del 29 de octubre de
        1998
        <br /><br />
        3. Se suspenderá la contabilización de intereses sobre préstamos, en los
        casos siguientes:<br /><br />
        a) Préstamos con más de 90 días de vencidos.<br />
        b) Préstamos vigentes con cuotas de amortización en mora, por más de 90 días.<br
        /><br />
        4. En los casos de suspensión de la provisión de intereses, los bancos deberán
        llevar el control de los intereses devengados en las cuentas de orden.<br
        /><br />
        5. Los intereses que se perciban y que se paguen anticipadamente, y que no
        han sido devengados o incurridos, se deben registrar en cuentas de activo
        o pasivo diferido, según corresponda.<br /><br />
        También se deben contabilizar como pasivo diferido los intereses que, estando
        en cuentas de orden pasan a formar parte de los intereses por cobrar, se
        integran alcapital de un nuevo crédito o que son pagados con préstamos otorgados
        por el mismo banco. <br /><br />
        Este pasivo disminuirá solamente por las recuperaciones de efectivo; el asiento
        contable correspondiente deberá ser autorizado por la gerencia, con base
        a informe de las recuperaciones presentado por la unidad correspondiente
        y comprobadas por el auditor interno. <br /><br />
        El acreedor y sus deudores podrán pactar libremente la forma de pago de los
        intereses que, estando en cuentas de orden pasen a formar parte del activo.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Reglamento para contabilizar los revalúos de los inmuebles de los bancos
        y financieras (NCB-010)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto establecer prácticas uniformes
        para el registro contable y la valuación de las transacciones de activos
        extraordinarios de los bancos.<br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 1-A.- Los sujetos obligados al cumplimiento de las presentes Normas
        son:<br /><br />
        a) Los bancos constituidos en el país;<br />
        b) Las sucursales de bancos extranjeros establecidas en el país; <br />
        c) Las Sociedades de Ahorro y Crédito; <br />
        d) Los bancos cooperativos; <br />
        e) Las federaciones de bancos cooperativos y también de sociedades de ahorro
        y crédito.<br /><br />
        En el texto de las presentes Normas, el término “bancos” servirá para designar
        a los sujetos contenidos en los literales anteriores.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para el registro contable de operaciones de reporto bursátil que
        realizan los bancos (NCB-011)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto regular la aplicación y valuación
        contable de las operaciones de reporto bursátil.<br /><br />
        Art. 2.- El reporto bursátil para los efectos de estas normas, es una operación
        financiera por medio de la cual el reportado se convierte en deudor de otro
        sujeto denominado reportador, quien proporciona una suma de dinero al primero,
        la cual es garantizada con títulos valores; operación que se revierte al
        final del plazo pactado
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para el reconocimiento contable de pérdidas en préstamos y
        cuentas por cobrar de bancos (NCB-012)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art.1.- El objeto de estas Normas es regular el reconocimiento de pérdidas
        por eliminación de saldos de préstamos y cuentas por cobrar.<br /><br />
        PÉRDIDAS DE LA CARTERA DE PRESTAMOS<br /><br />
        Art. 2.– Los préstamos con garantía real que tengan más de veinticuatro meses
        y los sin garantía real que tengan más de doce meses sin reportar recuperaciones
        de capital, que no se encuentren en proceso de ejecución judicial, deberán
        reconocerse como pérdida.<br /><br />
        Art. 3.– También deberán reconocerse como pérdida los préstamos que se encuentren
        en alguna de las situaciones siguientes:
        <br /><br />a) Cuando exista carencia de documento ejecutivo para
        iniciar la recuperación por la vía judicial;<br /><br />
        b) Cuando después de veinticuatro meses de iniciada la acción judicial, no
        haya sido posible trabar embargo;<br /><br />
        c) En los casos que se haya emitido sentencia de primera instancia a favor
        de deudor;<br /><br />
        d) Cuando no exista evidencia de que el deudor ha reconocido su deuda en
        los últimos cinco años;<br /><br />
        e) Cuando a juicio del banco no exista posibilidad de recuperación.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la contabilización de los activos extraordinarios de los
        bancos (NCB-013)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto establecer prácticas uniformes
        para el registro contable y la valuación de las transacciones de activos
        extraordinarios de los bancos.<br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 1-A.- Los sujetos obligados al cumplimiento de las presentes Normas
        son:<br /><br />
        a) Los bancos constituidos en el país;<br /><br />
        b) Las sucursales de bancos extranjeros establecidas en el país;<br
        /><br />
        c) Las Sociedades de Ahorro y Crédito;<br /><br />
        d) Los bancos cooperativos; y<br /><br />
        e) Las federaciones de bancos cooperativos y también de sociedades de ahorro
        y crédito. <br /><br />
        En el texto de las presentes Normas, el término “bancos” servirá para designar
        a los sujetos contenidos en los literales anteriores.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la contabilización de las inversiones accionarias de los
        bancos y sociedades controladoras de finalidad exclusiva (NCB-014)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art.1.- El objeto de estas Normas es definir la oportunidad y el valor del
        registro de las inversiones en acciones de subsidiarias y sociedades de inversión
        conjunta por parte de los bancos y sociedades controladoras de finalidad
        exclusiva que integren un conglomerado financiero.<br /><br />
        La expresión controladora utilizada en estas Normas es comprensiva de las
        sociedades controladoras de finalidad exclusiva y de los bancos controladores
        o inversionistas en sociedades de inversión conjunta.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la contabilización y valorización de los títulos valores de
        las carteras de inversiones de los bancos (NCB-016)
      </h2>
      <p class="text-sm">
        Art. 1.- El objeto de estas normas, es determinar los principios,
        métodos y procedimientos que deben utilizar los bancos para la
        valorización de sus inversiones en títulos valores representativos de
        deuda; a tenor de lo dispuesto en el literal .<br /><br />c) del
        artículo 10 de la Ley Orgánica de la Superintendencia del Sistema
        Financiero, en el artículo 224 de la Ley de Bancos y el artículo 444 del
        Código de Comercio.<br /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son los bancos
        y las sucursales de bancos extranjeros establecidos en el país; la expresión
        banco utilizada en estas Normas es comprensiva de sucursales de bancos extranjeros
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la elaboración de estados financieros de bancos (NCB-017)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto y sujetos</h3>
        <br />
        Art. 1.- Estas normas tienen como objeto establecer regulaciones y procedimientos
        que permitan la elaboración de estados financieros uniformes y consistentes.<br
        /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son los bancos
        considerados como personas jurídicas individuales y las sucursales de bancos
        extranjeros establecidas en el país.<br /><br />
        La expresión banco utilizado en estas Normas es comprensiva de sucursales
        de bancos extranjeros establecidos en el país; y cuando se mencione a la
        Superintendencia, se entenderá que se trata de la Superintendencia del Sistema
        Financiero.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la publicación de los estados financieros de los bancos
        (NCB-018)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto y sujetos</h3><br />
        Art. 1.- Las presentes Normas tienen por objeto establecer el contenido de
        los estados financieros para que los bancos proporcionen al público información
        financiera suficiente y oportuna sobre su situación financiera, económica
        y jurídica.<br /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son los bancos
        constituidos en El Salvador y las sucursales de bancos extranjeros establecidas
        en El Salvador.<br /><br />
        Cuando el banco tenga la calidad de controlador, además de las publicaciones
        que requieren las presentes Normas, deberá publicar estados financieros consolidados
        con base a las Normas de Publicación de los Estados Financieros de los Conglomerados
        Financieros, (NCB-020).<br /><br />
        La expresión banco utilizada en estas Normas es comprensiva de banco y sucursal
        de banco extranjero establecida en el país. Cuando se mencione Superintendencia
        se entenderá que se trata de la Superintendencia del Sistema Financiero.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la elaboración de los estados financieros consolidados de
        los conglomerados financieros (NCB-019)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto y sujetos</h3><br />
        Art. 1.- Las presentes Normas tienen por objeto establecer el contenido mínimo
        y los procedimientos para la elaboración de los estados financieros consolidados
        de los conglomerados financieros regulados por la Ley de Bancos.<br
        /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son:<br
        /><br />
        a) Los bancos controladores constituidos en El Salvador;<br /><br />
        b) Las controladoras de finalidad exclusiva constituidas en El Salvador;<br
        /><br />
        c) Las subsidiarias nacionales y extranjeras, sin excepción alguna, de las
        entidades mencionadas en los literales a) y b) de este artículo.<br
        /><br />
        Las controladoras que a la vez son subsidiarias de otra controladora deben
        formar parte de los estados financieros consolidados a que se refieren estas
        Normas; cuando ésta sea un banco deberá preparar, además, sus estados financieros
        como subgrupo consolidable aplicando estas disposiciones.<br /><br />
        La expresión controladora utilizada en estas Normas es comprensiva de banco
        controlador y controladora de finalidad exclusiva; Superintendencia equivale
        a Superintendencia del Sistema Financiero; y la expresión Conglomerado se
        utilizará para designar a los Conglomerados Financieros. La sinonimia “subsidiaria
        o filial” establecida en la Ley de Bancos, se expresará como “subsidiaria”
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la publicación de estados financieros de los conglomerados
        financieros (NCB-020)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto y sujetos</h3><br />
        Art. 1.- Las presentes Normas tienen por objeto establecer el contenido de
        los estados financieros consolidados para que los conglomerados financieros
        proporcionen al público información financiera suficiente y oportuna sobre
        su situación financiera, económica y jurídica.<br /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son los bancos
        controladores constituidos en El Salvador y las controladoras de finalidad
        exclusiva constituidas en El Salvador.<br /><br />
        La expresión controladora utilizada en estas Normas es comprensiva de banco
        controlador y controladora de finalidad exclusiva; y Superintendencia, equivale
        a Superintendencia del Sistema Financiero.<br /><br />
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la Contabilización de las Comisiones Bancarias sobre
        préstamos y operaciones contingentes (NCB-021)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto y sujetos</h3><br />
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto establecer prácticas uniformes
        para el registro contable de las comisiones que los bancos cobran anticipadamente
        a sus clientes por el otorgamiento de préstamos, avales, fianzas, garantías
        y servicios financieros, cualquiera sea el nombre con que las denominen.<br
        /><br />
        No son objeto de estas Normas las comisiones por servicios prestados que,
        aunque estén relacionados con una operación activa son autónomas a dicha
        operación, como lo son los avalúos de bienes que se recibirán en garantía
        y otros que tengan similitud, así como las derivadas de operaciones a plazos
        de hasta 30 días.<br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de las presentes Normas son:<br
        /><br />
        a) Los bancos constituidos en el país;<br /><br />
        b) Las sucursales de bancos extranjeros autorizadas y establecidas en el
        país; y c) Las Sociedades de Ahorro y Crédito.<br /><br />
        En el texto de las presentes Normas, los términos “bancos”, “Ley” y “Superintendencia”,
        servirán para designar a los sujetos contenidos en la relación anterior,
        a la Ley de Bancos y a la Superintendencia del Sistema Financiero, respectivamente.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para clasificar los activos de riesgo crediticio y constituir las
        reservas de saneamiento (NCB-022)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art.1.- Las presentes Normas tienen por objeto regular la evaluación y clasificación
        de los activos de riesgo crediticio según la calidad de los deudores y exigir
        la constitución de reservas mínimas de saneamiento de acuerdo a las pérdidas
        esperadas de los respectivos activos.<br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de las presentes Normas son
        los que por Ley están bajo la supervisión de la Superintendencia del Sistema
        Financiero.<br /><br />
        También estarán sujetos al cumplimiento de las presentes Normas las entidades
        que, estando bajo la competencia de otra superintendencia, integren un conglomerado
        financiero y posean activos de riesgo crediticio; asimismo, estarán sujetas
        a su cumplimiento, las subsidiarias del conglomerado financiero. <br
        /><br />
        Art. 3.- La Junta Directiva u órgano equivalente de los sujetos obligados
        será la responsable de velar por que se dé cumplimiento a estas Normas, de
        autorizar las políticas internas de concesión de créditos y del establecimiento
        de controles internos suficientes para garantizar su cumplimiento. Las referidas
        políticas deben recoger al menos los elementos indicados en el Anexo 1 de
        estas Normas y deberán ser comunicadas a la Superintendencia en un plazo
        no mayor a los diez días hábiles después de aprobadas. (1)<br /><br />
        Asimismo, los sujetos obligados al cumplimiento de las presentes Normas deberán
        establecer en sus políticas internas de concesión de créditos, mecanismos
        de originación expeditos, basados en simplificación de requisitos y trámites,
        para los créditos destinados a actividades productivas a los que hace referencia
        la Ley Especial para Facilitar el Acceso al Crédito (en adelante LEFAC).
        (12)<br /><br />
        Cada entidad definirá en sus políticas internas lo que entenderá como actividades
        productivas, tomando en consideración lo establecido en el artículo 2, literal
        d) de la LEFAC.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la Valoración de los Activos y Pasivos excluidos de Bancos
        en Reestructuración (NCB-023)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        ><br />
        Art. 1.- El objeto de estas Normas es establecer el procedimiento que deberá
        seguir la Superintendencia del Sistema Financiero, para la valoración de
        los activos y pasivos que se excluyen de un banco en reestructuración.<br
        /><br />
        Cuando en estas Normas se mencione: “Superintendencia”, “Consejo Directivo”,
        “Banco” y “Ley”, se entenderá que se trata de la Superintendencia del Sistema
        Financiero, Consejo Directivo de la Superintendencia, banco en reestructuración
        y Ley de Bancos, respectivamente.
      </p>
    </div>

    <div class="mt-10">
      <h2 class="text-4xl font-bold text-red-600">Normas Prudenciales</h2>
    </div>

    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas Técnicas para la Remisión de Información de las Sociedades de
        Seguros Para la Elaboración de Estadísticas de la Actividad Aseguradora
        (NRP-39)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto establecer las condiciones
        y requisitos que los sujetos obligados deberán observar para la remisión
        de información sobre la actividad aseguradora, que de manera periódica deberán
        enviar a la Superintendencia del Sistema Financiero. <br /><br />

        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de las disposiciones establecidas
        en las presentes Normas son:<br /><br />
        a) Sociedades de Seguros constituidas en El Salvador; <br />
        b) Sucursales de Sociedades de Seguros extranjeras establecidas y autorizadas
        en el país; <br />
        c) Asociaciones cooperativas que presten servicios de seguros constituidas
        en el país. <br />
        <br /><br />
        Términos<br /><br />
        Art. 3.- Para efectos de las presentes Normas, los términos que se indican
        a continuación tienen el significado siguiente:<br /><br />
        a) Banco Central: Banco Central de Reserva de El Salvador; <br />
        b) Entidad(es): Sujetos obligados a los que hace referencia el artículo 2
        de las presentes Normas; <br />
        c) Superintendencia: Superintendencia del Sistema Financiero. <br />
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas Técnicas para Sucursales de Sociedades de Seguros Salvadoreñas en
        el Extranjero (NRP-06)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto , sujetos y definiciones</h3><br />
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto establecer los requisitos
        mínimos y procedimientos que deberán cumplir las sociedades de seguros constituidas
        en el país, para obtener la autorización de la Superintendencia del Sistema
        Financiero para iniciar los trámites correspondientes al establecimiento
        de sucursales en el extranjero, así como los que deberán cumplir una vez
        inicien operaciones en el exterior.<br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de las disposiciones establecidas
        en las presentes Normas son las sociedades de seguros constituidas en el
        país que estén interesadas en establecer sucursales en el extranjero. (1)
        Definiciones<br /><br />
        Art. 3.- Para efectos de las presentes Normas, los términos que se indican
        a continuación tienen el significado siguiente:<br /><br />
        a) Entidad o Entidades: Las sociedades de seguros constituidas en el país
        que estén interesadas en establecer sucursales en el extranjero; <br />
        b) País de Origen: El Salvador; <br />
        c) País Anfitrión: País donde se establecerá la sucursal; <br />
        d) Sucursal: La oficina separada físicamente de la casa matriz u oficina
        central, la cual podrá realizar aquellas operaciones permitidas y autorizadas
        por el país anfitrión, cuya contabilidad forma parte de los estados financieros
        consolidados de la matriz; <br />
        e) Superintendencia: Superintendencia del Sistema Financiero. <br />
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para el Depósito de Pólizas de Seguros (NPS4-12)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.-Las presentes Normas tienen por objeto establecer el procedimiento
        para el depósito de los modelos de pólizas que tienen que efectuar las entidades
        aseguradoras en la Superintendencia. (1)
        <br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.-Los sujetos obligados al cumplimiento de estas Normas son las sociedades
        de seguros constituidas en El Salvador, las sucursales de sociedades de seguros
        extranjeras legalmente establecidas en nuestro país y las asociaciones cooperativas
        mencionadas en el artículo 120 de la Ley de Sociedades de Seguros.
        <br /><br />
        Para los fines de las presentes Normas, los términos “Superintendencia” y
        “entidad” o su plural “entidades”, designan en su orden, a la Superintendencia
        del Sistema Financiero y a los sujetos obligados al cumplimiento de estas
        Normas. En el Anexo No. 1 se presenta un glosario de los términos utilizados
        en estas Normas.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la Recolección de Información para el Sistema Contable
        Estadístico de Sociedades de Seguros (NPS4-09)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen por objeto facilitar la captura de datos
        que alimentará al Sistema Contable Estadístico de Sociedades de Seguros (SCOE),
        para lo cual se establece la guía que las sociedades de seguros deberán atender
        para cargar los archivos con la información requerida por la Superintendencia
        del Sistema Financiero, a fin de que la misma sea uniforme, oportuna y de
        calidad.<br /><br />

        El "Sistema Contable Estadístico de Seguros (SCOE)", será el receptor de
        la información contable y extracontable enviada por las sociedades de
        seguros.
        <br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de estas Normas son:<br
        /><br />
        a) Las sociedades de seguros constituidas en El Salvador; <br />
        b) Las sucursales de aseguradoras establecidas en El Salvador; <br />
        c) Las cooperativas que prestan servicios de seguros, constituidas en el
        país.
        <br />
        <br /><br />
        El término sociedades de seguros comprende a las sociedades de seguros constituidas
        en El Salvador, las sucursales de aseguradoras extranjeras y las asociaciones
        cooperativas que prestan servicios de seguros
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para el Control de la Diversificación de las Inversiones de las
        Sociedades de Seguros (NPS3-02)
      </h2>
      <p class="text-sm">
        Las presentes normas y sus cuadros, que forman parte integrante de las
        mismas, tienen por objeto facilitar a las sociedades de seguros la
        aplicación de las disposiciones legales relativas a la diversificación
        de las inversiones y establecer el sistema uniforme de presentación,
        para efectos de verificación por parte de la Superintendencia del
        Sistema Financiero de la observancia de las referidas disposiciones.<br
        /><br />
        En el texto de estas normas la denominación de Ley se referirá a la Ley de
        Sociedades de Seguros y Superintendencia a la Superintendencia del Sistema
        Financiero.<br /><br />
        El término sociedades de seguros comprende las sociedades constituidas en
        El Salvador, las sucursales de aseguradoras extranjeras y las asociaciones
        cooperativas que prestan servicios de seguros.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para la Autorización de Intermediarios de Seguros (NPS4-11)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas tienen como objeto regular la autorización
        de personas naturales o jurídicas interesadas en operar como intermediarios
        de seguros, estableciendo los procedimientos, documentación a presentar y
        trámites que deberán seguir para su evaluación, autorización y vigencia.
        <br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Los sujetos obligados al cumplimiento de las presentes Normas son
        las personas naturales o jurídicas que soliciten autorización para intermediar
        la contratación de seguros, bajo la figura de corredores de seguros o agentes
        independientes.
        <br /><br />
        En el texto de las presentes Normas, las expresiones “intermediarios de seguros”,
        “Superintendencia” y “Registro” en su orden son equivalentes a los agentes
        independientes, agentes dependientes y a corredores de seguros; la Superintendencia
        del Sistema Financiero y al Registro de Intermediarios de Seguros Autorizados
        por la Superintendencia.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas para el Registro de Entidades que Promuevan y Coloquen en Forma
        Masiva Pólizas de Seguros (NPS4-10)
      </h2>
      <p class="text-sm">
        Art. 1.- Las presentes Normas tienen por objeto establecer los
        requisitos para el registro de las entidades que promuevan y coloquen en
        forma masiva pólizas de seguros, por cuenta de las sociedades de
        seguros.
        <br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Son obligados al cumplimiento de estas Normas las sociedades siguientes:<br
        /><br />
        a) Las sociedades de seguros constituidas en el país; <br />
        b) Las sucursales de aseguradoras extranjeras establecidas y autorizadas
        en el país; <br />
        c) Las asociaciones cooperativas que presten servicios de seguros; <br
        />
        d) Los comercializadores masivos de seguros. (1) <br />
        <br /><br />
        En el texto de estas Normas, el término Superintendencia, es equivalente
        a Superintendencia del Sistema Financiero; y Comercializadores, las entidades
        que se dedican a la promoción y colocación masiva de pólizas de seguros.
        <br /><br />
        Art. 3.- Las sociedades de seguros que pretendan contratar en forma masiva
        pólizas de seguros por intermedio de Comercializadores deben previamente
        gestionar la inscripción de éstos en el “Registro de Entidades que Comercializan
        en Forma Masiva Pólizas de Seguros”, que lleva la Superintendencia. (1)
        <br /><br />
        Art. 4.- Los Comercializadores se obligan a proporcionar la información que
        sea requerida por la sociedad de seguros de que se trate, para efectos de
        realizar la inscripción correspondiente en el Registro; asimismo, a proporcionar
        a la Superintendencia cualquier información relacionada con las operaciones
        de seguros efectuadas.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Instructivo para Autorizar Aumentos de Capital Social de las Sociedades
        de Seguros (NPS4-08)

        <br /><br />
        NORMAS PARA AUTORIZAR MODIFICACIONES A PACTOS SOCIALES POR AUMENTOS DE CAPITAL
        SOCIAL DE LAS SOCIEDADES DE SEGUROS
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas establecen los requisitos de información que
        deben presentar las sociedades de seguros al solicitar autorización para
        modificar el pacto social por aumento del capital social; así como los procedimientos
        que deberán seguir en la Superintendencia para tramitar dicha solicitud.
        <br /><br />
        <h3 class="font-bold">Sujetos</h3>
        <br />
        Art. 2.- Son obligados al cumplimiento de estas Normas las sociedades de
        seguros constituidas en el país. En el texto de estas Normas el término “Superintendencia”,
        es equivalente a Superintendencia del Sistema Financiero.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas Sobre Créditos a Personas Vinculadas con una Sociedad de Seguros
        (NPS3-03)
      </h2>
      <p class="text-sm">
        <br /><br />

        El Consejo Directivo de la Superintendencia del Sistema Financiero, con
        base a la facultad que le otorga el inciso penúltimo del artículo 28 de
        la Ley de Sociedades de Seguros, emite las:
        <br /><br />
        NORMAS SOBRE CRÉDITOS A PERSONAS VINCULADAS CON UNA SOCIEDAD DE SEGUROS
        <br /><br />
        Art. 1.- El objeto de estas normas es desarrollar los conceptos técnicos
        contenidos en los artículos 27 y 28 de la Ley de Sociedades de Seguros y
        las disposiciones del Capítulo II de su Reglamento, referentes a los créditos
        a personas vinculadas a las sociedades de seguros.
        <br /><br />

        El término sociedad de seguros utilizado en estas normas comprende a las
        constituidas en El Salvador, a las sucursales de aseguradoras
        extranjeras y a las filiales de ambas.
        <br /><br />

        Las asociaciones cooperativas que prestan servicios de seguros no son
        objeto de estas Normas.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Instructivo Para Constituir y Operar Nuevas Sociedades de Seguros en El
        Salvador (NPS1-01)
      </h2>
      <p class="text-sm">
        El Consejo Directivo de la Superintendencia del Sistema Financiero, para
        propiciar el cumplimiento de lo establecido en el Título Segundo de la
        Ley de Sociedades de Seguros, emite el:
        <br /><br />

        INSTRUCTIVO PARA CONSTITUIR Y OPERAR NUEVAS SOCIEDADES DE SEGUROS EN EL
        SALVADOR
        <br /><br />

        I. OBJETO
        <br /><br />
        El presente instructivo tiene por objeto establecer los requisitos que deben
        cumplir los interesados en obtener la autorización para constituir y operar
        nuevas sociedades de seguros; así como los procedimientos internos de esta
        Superintendencia, con relación al trámite de esas autorizaciones. <br
        /><br />
        Cuando en este instructivo se haga mención de la Superintendencia, se entenderá
        que se trata de la Superintendencia del Sistema Financiero. <br /><br />

        II. CONSTITUCIÓN, ORGANIZACIÓN Y CAPITAL SOCIAL <br /><br />

        1. La constitución y organización de las sociedades de seguros se regirá
        por las disposiciones contenidas en el capítulo I del Título Segundo de
        la Ley de Sociedades de Seguros y por el presente Instructivo; en su
        defecto se aplicarán las disposiciones del Código de Comercio. (2) <br
        /><br />

        2. El capital mínimo de constitución será el establecido en el artículo
        14 de la Ley de Sociedades de Seguros, con las actualizaciones
        correspondientes según el artículo 98 de la misma Ley. <br /><br />

        3. El aporte de capital de constitución deberá acreditarse mediante
        depósito en el Banco Central de Reserva de El Salvador, a nombre de la
        sociedad que se constituye, cuya devolución deberá hacerse a solicitud
        de esta después de que la escritura de constitución haya sido inscrita
        en el Registro de Comercio; fondos que deberán utilizar para atender los
        gastos de organización y demás operaciones que autorice la
        Superintendencia.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Instructivo sobre la transparencia de acciones de sociedades (NPS4-03
      </h2>
      <p class="text-sm">
        El Consejo Directivo de la Superintendencia del Sistema Financiero, a
        efecto de darle cumplimiento a los artículos 6, 7, 12 y 78 de la Ley de
        Sociedades de Seguros, emite el:
        <br /><br />
        INSTRUCTIVO SOBRE LA TRANSFERENCIA DE ACCIONES DE SOCIEDADES DE SEGUROS OBJETO
        <br /><br />
        El objeto de este Instructivo es el de regular la autorización para adquirir
        acciones de las sociedades de seguros, en un porcentaje superior al uno por
        ciento (1%) del capital social de la entidad emisora y establecer los procedimientos
        y requisitos que deben cumplir las sociedades de seguros, derivados de la
        transferencia de acciones.
        <br /><br />
        Cuando en este Instructivo se mencione a la Superintendencia, se entenderá
        que se trata de la Superintendencia del Sistema Financiero.
        <br /><br />
        I. REQUERIMIENTO DE INFORMACIÓN PARA ADQUIRIR ACCIONES EN EXCESO DEL 1% DEL
        CAPITAL SOCIAL
        <br /><br />
        1. Las personas naturales y jurídicas deben solicitar autorización para la
        adquisición de acciones de una sociedad de seguros, cuando la nueva adquisición
        ocasione que el accionista sea titular de más del uno por ciento (1%) del
        capital accionario de la respectiva entidad y por cualquier incremento cuando
        ya sean propietarias de un porcentaje superior al uno por ciento (1%). (1)
        <br /><br />
        Para la determinación del porcentaje mencionado en el inciso anterior, se
        sumará a la participación propia del solicitante, la proporción que le corresponda;
        cuando este participe en el patrimonio de personas jurídicas que sean accionistas
        de la sociedad de seguros. (2)
        <br /><br />
        2. Las personas naturales deben presentar solicitud conforme al modelo 1
        y las personas jurídicas conforme al modelo 2, los cuales se adjuntan al
        presente Instructivo.
        <br /><br />
        La solicitud y documentación podrán ser presentadas a través de los medios
        que ponga a disposición la Superintendencia, los cuales podrán ser electrónicos.
        En todo caso, el plazo al que se refiere el primer inciso del numeral 4 Romano
        II del presente Instructivo empezará a contar a partir del día hábil siguiente
        de haber presentado la solicitud. (2) <br /><br />
        3. Cuando la transferencia de acciones sea de las que requieren autorización
        según las regulaciones de este Instructivo (1), la respectiva entidad deberá
        obtener previamente a la inscripción en el libro de accionistas, certificación
        de la autorización correspondiente otorgada por la Superintendencia.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Instructivo para la Enajenación y Adquisición de Bienes por Sociedades
        de Seguros (NPS4-06)
      </h2>
      <p class="text-sm">
        El Consejo Directivo de la Superintendencia del Sistema Financiero, para
        dar cumplimiento al artículo 26 de la Ley de Sociedades de Seguros,
        emite el:
        <br /><br />
        INSTRUCTIVO PARA LA ENAJENACIÓN Y ADQUISICIÓN DE BIENES POR SOCIEDADES DE
        SEGUROS
        <br /><br />
        I. OBJETO
        <br /><br />
        El objeto del presente Instructivo es establecer los requisitos que deben
        cumplir las sociedades de seguros, al efectuar transacciones de toda clase
        de bienes, con sus gerentes, directores, administradores, accionistas y con
        las sociedades en las cuales éstos participen en más del veinticinco por
        ciento (25%) del capital social.
        <br /><br />
        El término sociedades de seguros comprende las sociedades de seguros constituidas
        en El Salvador, las sucursales de aseguradoras extranjeras y las asociaciones
        cooperativas que prestan servicios de seguros.
        <br /><br />
        Cuando en este Instructivo se haga mención de la Superintendencia, se entenderá
        que se trata de la Superintendencia del Sistema Financiero.
        <br /><br />
        Instructivo para la Tenencia de Activos Extraordinarios de Sociedades de
        Seguros (NPS4-07) El Consejo Directivo de la Superintendencia del Sistema
        Financiero, a fin de propiciar el cumplimiento del artículo 95 de la Ley
        de Sociedades de Seguros, emite el presente:
        <br /><br />
        INSTRUCTIVO PARA LA TENENCIA DE ACTIVOS EXTRAORDINARIOS DE SOCIEDADES DE
        SEGUROS
        <br /><br />
        I. OBJETO El presente Instructivo tiene por objeto establecer el trámite
        para la autorización de prórrogas para tenencia o conservación y liquidación
        de activos extraordinarios de sociedades de seguros. (1)
        <br /><br />
        El término sociedades de seguros comprende las sociedades de seguros constituidas
        en El Salvador, las sucursales de aseguradoras extranjeras y las asociaciones
        cooperativas que prestan servicios de seguros.
        <br /><br />
        Cuando en este Instructivo se haga mención de la Superintendencia, se entenderá
        que se trata de la Superintendencia del Sistema Financiero.
        <br /><br />
        II. PLAZO DE TENENCIA <br /><br />
        Las sociedades de seguros dispondrán de un plazo de dos años para liquidar
        los activos extraordinarios que adquieran; dicho plazo se contará a partir
        de la fecha de la adquisición y podrá ser prorrogado por la Superintendencia
        hasta por un período de ciento ochenta días.
        <br /><br />
        Si transcurrieran los plazos antes mencionados y no se hubiese efectuado
        la liquidación del bien, se aplicará lo establecido en el Romano IV del presente
        Instructivo.
        <br /><br />
        III. SOLICITUD DE PRÓRROGA PARA LA TENENCIA DE ACTIVOS EXTRAORDINARIOS <br
        /><br />
        1. Las sociedades de seguros interesadas en obtener prórroga para la tenencia
        de los activos extraordinarios, deben presentar a la Superintendencia solicitud,
        por lo menos con treinta días de anticipación a la fecha de vencimiento del
        plazo establecido en el Romano II del presente Instructivo y en la Ley de
        Sociedades de Seguros, adjuntando la descripción del activo, los antecedentes
        y otras consideraciones que justifiquen la solicitud. (1)
        <br /><br />
        La justificación deberá contener evidencia de los esfuerzos de venta realizados
        por diferentes medios de comercialización y con la reiteración suficiente
        para obtener resultados positivos.
        <br /><br />
        2. La solicitud y documentación podrán ser presentadas a través de los medios
        que ponga a disposición la Superintendencia, los cuales podrán ser electrónicos.
        En todo caso, el plazo a que se refiere el primer inciso del numeral 1 del
        Romano III-A del presente Instructivo empezará a contar a partir del día
        hábil siguiente de haber presentado la solicitud. (1)
        <br /><br />
        3. Derogado (1)
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas Técnicas para la Transparencia y Divulgación de la Información de
        las Sociedades de Seguros (NCM-03)
      </h2>
      <p class="text-sm">
        <h3 class="font-bold">Objeto</h3>
        <br />
        Art. 1.- Las presentes Normas, tienen por objeto definir las medidas mínimas
        de transparencia de información que deberán cumplir los sujetos obligados
        de las presentes Normas, como un mecanismo para que los usuarios de manera
        responsable, tomen decisiones informadas con relación a los seguros que desean
        contratar.
        <br /><br />
        Sujetos
        <br /><br />
        Art. 2.- Los sujetos obligados al cumplimiento de las disposiciones establecidas
        en las presentes Normas son: <br /><br />
        a) Sociedades de seguros constituidas en el país;<br />
        b) Sucursales de aseguradoras extranjeras establecidas y autorizadas en el
        país;
        <br />
        c) Asociaciones cooperativas que presten servicios de seguros.
        <br /><br />
        Términos <br /><br />
        Art. 3.- Para los efectos de las presentes Normas, los términos que se indican
        a continuación tienen el significado siguiente: <br /><br />
        a) Asegurado: Persona natural o jurídica que está expuesta en sí misma o
        en sus bienes, al riesgo asegurable y en tal condición, dependiendo del tipo
        de seguro y su forma de contratación es titular de derechos y obligaciones
        derivadas del contrato de seguro;<br />
        b) Banco Central: Banco Central de Reserva de El Salvador;<br />
        c) Beneficiario: Persona natural o jurídica que puede ser o no el asegurado,
        pero que ha sido designada por el contratante o asegurado, según corresponda
        al tipo de seguro como titular de los derechos a recibir la indemnización
        o el pago de la suma asegurada en el contrato de seguro;<br />
        d) Contrato o póliza de seguros: Es un contrato mediante el cual la Sociedad
        de Seguros se obliga, mediante el pago de una prima a dar cobertura a un
        riesgo determinado y a indemnizar hasta por la suma acordada, de conformidad
        a lo establecido con el contratante o asegurado;<br />
        e) Contratante o tomador: Persona natural o jurídica que contrata el seguro
        y se obliga al pago de las primas; f) Denuncia o inconformidad: Son aquellas
        que presenten los asegurados, contratantes o beneficiarios ante la entidad
        por inconformidades posteriores a la ocurrencia de un siniestro;<br />
        g) Divulgación: Publicaciones en periódicos, sitios web, cualquier otro medio
        electrónico o digital, así como las exhibiciones en cartelera física o electrónica
        de los sujetos obligados al cumplimiento de las presentes Normas;<br />
        h) Entidad: Sujetos obligados a los que hace referencia el artículo dos de
        las presentes Normas;<br />
        i) Órgano de Administración: Órgano colegiado que realiza la función de administración
        de la entidad, para el caso de las presentes Normas, se refiere a la Junta
        Directiva o Consejo de Administración según corresponda; <br />
        j) Programas informáticos especializados u otras herramientas informáticas:
        Software o aplicativo de ofimática que utilizará la entidad para el control
        o administración de las denuncias o inconformidades que reciban de los asegurados,
        beneficiarios, contratante o tomador;<br />
        k) Reclamo: Solicitud de indemnización que presente el asegurado, contratante
        o beneficiario ante la entidad; l) Superintendencia: Superintendencia del
        Sistema Financiero;<br />
        m) Usuario: Cualquier persona natural o jurídica que se encuentra en la fase
        previa de acuerdos preliminares con los sujetos obligados en las presentes
        Normas, respecto de los productos o servicios ofrecidos por éstos.
      </p>
    </div>
  </div>
</article>
