<article class="p-5">

  <div class="lg:p-10 lg:w-8/12">
    <h2
      class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
    >
      La contabilidad gubernamental
    </h2>
    <p class="text-sm">
      El subsistema de la contabilidad Gubernamental se define como el elemento
      integrador del sistema de Administración Financiera y esta constituido por
      un conjunto de principios, normas y procedimientos técnicos para
      recopilar, registrar, procesar y controlar en forma sistemática toda la
      información referente a las transacciones del sector público, expresable
      en términos monetarios, con el objetivo de proveer información sobre la
      gestión financiera y presupuestaria.
      <br /><br />
      La Contabilidad gubernamental es una técnica que se utiliza para registrar
      las transacciones de la Administración Pública y producir sistemáticamente
      información financiera, presupuestal, programática y económica expresada en
      unidades monetarias, para facilitar la toma de decisiones del gobierno.
    </p>
  </div>
  <section class=" mt-10 lg:p-10">
    <div
      class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2"
    >
      <div class="sm:text-lg">
        <h2
          class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
        >
          Objetivos de la contabilidad gubernamental
        </h2>
        <p class="text-sm">
          • Establecer y mantener cada unidad del sector publico un modelo
          especifico y único de contabilidad y de información que integren
          operaciones: Financieras, Presupuestarias y Patrimoniales. <br />
          • Proveer información de apoyo a la toma de decisiones <br />
          • Obtener de las instituciones información financiera, útil, adecuada, oportuna
          y confiable.
          <br />
          • Posibilitar la integración de los datos contables del sector publico en el
          sistema de cuentas nacionales. <br />
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full rounded-lg"
          src="../sector-gubernamental1.jpeg"
          alt="sector agricola 1"
        />
        <img
          class="w-full lg:mt-10 rounded-lg"
          src="../sector-gubernamental2.jpeg"
          alt="sector agricola 2"
        />
      </div>
    </div>
  </section>
  <div class="lg:p-10 lg:w-8/12">
    
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-3xl tracking-tight font-extrabold text-red-900 "
      >
        Normas especificas del sector gubernamental
      </h2>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre agrupaciones de datos contables:
      </h2>
      <p class="text-sm">
        En el subsistema de contabilidad gubernamental, los hechos económicos
        deberán agruparse de acuerdo con los requerimientos de información de
        apoyo al proceso de toma de decisiones. La Dirección General de
        Contabilidad Gubernamental establecerá las agrupaciones que tendrán el
        carácter de obligatorias en los diseños contables institucionales. Lo
        anterior, es sin perjuicio que en el diseño de los sistemas contables
        institucionales se puedan ampliar o incorporar codificaciones propias de
        los requerimientos de información interna. <br /><br />
        Las agrupaciones de datos de carácter obligatorio estarán clasificadas en dos
        grupos: aquellas a destinar hechos económicos de igual naturaleza y las asociadas
        a una cuenta contable en particular. <br /><br />
        En la primera se encuentran las codificaciones de identificación institucional,
        numero de partida, fecha de registro, agrupación operacional, tipo de movimiento,
        fuente de recursos, proyectos o grupo de proyectos, área de gestión, etapa
        de proyecto, ubicación geográfica y actividad especial; en la segunda las agrupaciones
        por estructura presupuestaria(unidad presupuestaria, líneas y sublíneas de
        trabajo), fuente de financiamiento, agrupación de costos productivos, centro
        de responsabilidad y los elementos relativos al compromiso presupuestario,
        en los casos que corresponda. <br /><br />
        No obstante lo anterior, el uso de los datos de agrupación contable deberá
        responder el Proceso Administrativo Financiero y a los requerimientos de la
        información institucional. <br /><br />
        2. IDENTIFICACION INSTITUCIONAL: En concordancia con el principio de Ente Contable,
        cada una de las instituciones públicas será reconocida con el Código de Identificación
        Institucional, el cual será único para efectos contables y para todo el proceso
        administrativo financiero. <br /><br />
        3. AGRUPACION OPERACIONAL: Dado que la Constitución de la República y las demás
        Leyes aplicables al proceso Administrativo Financiero del Sector Público reconocen
        que los recursos del Estado se administran fundamentalmente bajo las clasificaciones
        de: Ordinarios, Extraordinarios, Especiales, Fondos de Actividades Especiales
        y Municipales, los hechos económicos se asociarán con alguna de dichas agrupaciones,
        aun cuando técnicamente no se proyecten estimaciones presupuestarias. <br
        /><br />
        4. AGRUPACION POR TIPO DE MOVIMIENTO Los hechos económicos deberán estar asociados
        a uno de los siguientes códigos, que identifique el efecto contable que se
        producirá en la composición de los recursos y obligaciones:<br /><br />
        1 MOVIMIENTOS MONETARIOS <br /><br />
        2 AJUSTES CONTABLES <br /><br />
        3 CIERRE Y APERTURA<br /><br />
        Los movimientos monetarios corresponderán a hechos económicos que generen derechos
        o compromisos monetarios, incluyendo devengamiento, percepción, pago o aplicación,
        como también los movimientos de carácter monetario como resultado de anticipos
        de dinero o depósitos de terceros. Los ajustes por errores en la contabilización
        de movimientos monetarios, se considerarán como tales y se registrarán con
        SIGNO NEGATIVO.<br /><br />
        Los ajustes contables corresponderán a movimientos no monetarios, destinados
        a registrar los traspasos, regularizaciones u otras operaciones de igual naturaleza,
        entre cuentas de INVERSIONES Y FINANCIAMIENTOS DE TERCEROS O PROPIOS, tales
        como costo de venta de bienes, condonaciones Manual Técnico del Sistema de
        Administración Financiera Integrado 60 de deudas, depreciaciones de bienes,
        estimaciones de cuentas incobrables u otros de igual naturaleza. Los ajustes
        por errores en la contabilización de operaciones de esta naturaleza, se considerarán
        como tales y se registrarán reversando los movimientos contables. <br
        /><br />
        También se incluirán, excepcionalmente, bajo este tipo de movimiento los traspasos
        de Deudores Monetarios por concepto de convenios de pago de impuestos o prestación
        de servicios, por el monto que exceda la recuperación en el ejercicio contable.
        <br /><br />
        El cierre y la apertura corresponderán a contabilizaciones al final e inicio
        del ejercicio contable, cuyo registro responde a requerimientos técnicos. Los
        ajustes por errores en la contabilización de operaciones de ejercicios anteriores,
        se considerarán como tales y se registrarán reversando los movimientos contables.
        <br /><br />
        No obstante lo descrito en el párrafo anterior, las instituciones que inicien
        o liquiden registros contables de proyectos o grupos de proyectos, aplicarán
        el tipo de movimiento que corresponda, ya sea monetario o ajuste contable sin
        perjuicio de la fecha o período de iniciación o liquidación de éste. <br
        /><br />
        5. AGRUPACION POR FUENTE DE RECURSOS: Comprende la Identificación de las Instituciones,
        Organismos y Entidades Financieras Nacionales o Extranjeras, así como Gobiernos
        Extranjeros que contribuyen con recursos para el logro de los objetivos Institucionales,
        ya sea por medio de préstamos o donaciones. <br /><br />
        En los convenios, acuerdos o contratos celebrados con las entidades mencionadas
        en el párrafo anterior u otros entes de igual naturaleza, que hayan establecido
        la obligatoriedad de informar en detalle los hechos económicos relacionados
        con los recursos otorgados o la necesidad de información institucional, deberán
        identificar cada movimiento contable de acuerdo con la Fuente de Recursos.
        <br /><br />
        6. ACTIVIDADES ESPECIALES: Las Instituciones de Gobierno Central que administren
        Fondos de Actividades Especiales, deberán identificar con el código específico
        y correlativo que la Dirección General de Tesorería asigne a cada uno de los
        fondos, como parte complementaria a la identificación operacional correspondiente.
        <br /><br />
        La conceptualización de las Actividades Especiales deberá estar en armonía
        con los instrumentos legales y técnicos definidos al respecto. <br /><br
        />
        7. AGRUPACION POR PROYECTO O GRUPO DE PROYECTOS: Las instituciones o fondos
        que de conformidad a su presupuesto institucional aprobado ejecuten proyectos
        o grupo de proyectos, deberán identificar cada uno de éstos con el código asignado
        por la Dirección General de Inversión y Crédito Público, o bien, con el que
        asigne la autoridad responsable de aprobar los Planes de Acción según corresponda.
        <br /><br />
        En el ejercicio contable sólo podrá adicionarse la identificación de proyectos
        o grupo de proyectos nuevos, quedando estrictamente prohibido eliminar todo
        aquel que finalice la etapa de ejecución y sea liquidado contablemente en dicho
        período. No obstante, al inicio de cada ejercicio contable podrán eliminarse
        las denominaciones de proyectos o grupo de proyectos que hayan sido liquidados
        en el año anterior y no tengan saldos iniciales de apertura. Manual Técnico
        del Sistema de Administración Financiera Integrado <br /><br />
        8. AGRUPACION POR ESTRUCTURA PRESUPUESTARIA: Las instituciones que ejecuten
        PRESUPUESTOS DE GASTOS, independientemente de la agrupación operacional de
        que se trate, deberán al momento de contabilizar los hechos económicos, asociar
        a las cuentas contables que tengan efectos presupuestarios los códigos de la
        estructura presupuestaria respectiva. <br /><br />
        Las codificaciones para la identificación de la estructura presupuestaria serán
        las que establezca la Ley de Presupuesto General del Estado, Decretos y Acuerdos,
        en los casos que corresponda. Las instituciones que en razón de las actividades
        que desarrollan y considerando los requerimientos internos de información,
        apliquen estructuras presupuestarias diferentes a las establecidas en los párrafos
        precedentes, deberán consignar resumidamente la codificación sustitutiva a
        utilizar en el sistema contable institucional. <br /><br />
        Lo anterior, sin perjuicio de crear tablas de conversión para la reestructuración
        de los datos cuando requerimientos de información así lo ameriten. La codificación
        de la agrupación por estructura presupuestaria deberá ser complementada con
        el código que identifique el origen del financiamiento; las fuentes de financiamiento
        serán las establecidas en el presupuesto institucional. <br /><br />
        9. AGRUPACION POR CENTRO DE RESPONSABILIDAD: En las instituciones que se estime
        necesario ejercer un control sobre los ingresos e insumos cuantificables en
        términos monetarios, destinados a las unidades o funciones generadoras de bienes,
        servicios o ejecutoras de actividades específicas, podrán en la contabilización
        de los hechos económicos asociar los conceptos contables del grupo 85 INGRESOS
        DE GESTION u 83 GASTOS DE GESTION, al último nivel de desagregación, con el
        código del centro de responsabilidad que origina el movimiento operacional.
        <br /><br />
        Los gastos de gestión asociados a centros de responsabilidad podrán tener el
        carácter de controlables o directos, o bien no controlables o indirectos; para
        éstos últimos deberán fijarse tablas de distribución porcentual, proporcional
        a la participación que les corresponda a cada centro de responsabilidad, de
        acuerdo con la naturaleza de los gastos incorporados en el plan de cuentas
        institucional. <br /><br />
        10. AGRUPACION DE COSTOS PRODUCTIVOS: Las instituciones que desarrollen actividades
        de transformación, con la finalidad de obtener productos para su posterior
        comercialización, integración en nuevos procesos de manufactura o empleo en
        actividades institucionales, en cuya etapa de producción intervengan recursos
        humanos y materiales, siendo necesario determinar con el mayor grado de aproximación
        el costo atribuible a cada bien producido, podrán en la contabilización de
        las erogaciones asociarse a los conceptos contables del subgrupo 233 "EXISTENCIAS
        DE PRODUCCION EN PROCESO", al último nivel de desagregación, el código de identificación
        de los elementos productivos y el número de las órdenes de trabajos que originan
        el movimiento, en los casos que corresponda. <br /><br />
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre agrupaciones de datos contables:
      </h2>
      <p class="text-sm">
        Los códigos de identificación de los elementos productivos serán los
        siguientes: <br /><br />
        1. Materiales Directos Manual Técnico del Sistema de Administración Financiera
        Integrado 62 <br /><br />
        2. Mano de Obra Directa <br />
        3. Carga Fabril Directa <br />
        9. Carga Fabril Indirecta <br /><br />
        No obstante lo señalado en los párrafos precedentes, las instituciones podrán
        aplicar en las actividades productivas otros procedimientos de cálculo de costos,
        o bien, disponer de un sistema de costos independiente, integrando globalmente
        los movimientos al Subsistema de Contabilidad Gubernamental, previa comunicación
        a la Dirección General de Contabilidad Gubernamental.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre transferencias de fondos.
      </h2>
      <p class="text-sm">
        Todo derecho a percibir recursos monetarios, como parte de la gestión
        financiera institucional, independientemente del momento de la recepción,
        inmediata o futura, deberá contabilizarse en devengamiento en cuentas de
        subgrupo Deudores Monetarios, de acuerdo con la naturaleza del hecho
        económico. <br /><br />
        Todo compromiso de pagar recursos monetarios como parte de la gestión financiera
        institucional, independientemente del momento de la erogación, inmediata o
        futura, deberá contabilizarse el devengamiento en cuentas del sub grupo Acreedores
        Monetarios, de acuerdo con la naturaleza del hecho económico.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre inversiones en Activos Intangibles
      </h2>
      <p class="text-sm">
        1. CONCEPTUALIZACIÓN: Los activos intangibles son aquellos que no tienen
        una naturaleza o existencias física, limitándose su valor a los derechos y
        beneficios económicos esperados que su posesión confieren a las entidades. <br
        /><br />
        Las instituciones que de conformidad a las leyes vigentes, adquieran activos
        intangibles, que se representan recursos de larga duración y que por la falta
        de cualidades físicas, su valor se limita a los derechos adquiridos y a los
        beneficios esperados por su posesión o uso y que su vida útil puede ser indeterminada,
        deberán para el registro de los hechos económicos considerar la presente normativa
        que para tal efecto emite esta dirección general. <br /><br />
        2. VALUACION: Los bienes intangibles adquiridos con el fin de utilizarlos en
        las actividades administrativos o productivos de carácter institucional, deberán
        ser registrados contablemente en el SUBGRUPO INVERSIONES INTANGIBLES, al costo
        de adquisición o al valor de las erogaciones atribuibles a si formación o desembolso,
        su vida útil dependerá de la aplicación de criterios técnicos que pueden determinarla,
        apoyándose con especialistas en la materia y tomando en cuenta el criterio
        prudencial del contador para aplicar la estimación razonable permitiendo con
        ello registrarlo como GASTOS DE GESTIÓN. <br /><br />
        3. AMORTIZACIÓN: <br /><br />
        Representa el valor acumulado de las amortizaciones graduales, registrados
        según el valor de adquisición o desarrollo de los bienes intangibles. <br
        /><br />
        El valor de los activos intangibles por situaciones eventuales puede desaparecer.
        Los costos registrados deben amortizarse mediante cargos sistemáticos a resultados,
        durante el o los periodos que se estimen convenientes.
        <br /><br /> El periodo de amortización de los activos intangibles se determinará
        considerando algunos factores como disposiciones legales, valor de adquisición,
        obsolescencia, demanda, competencia y otros factores económicos que pueden
        reducir la vida útil, por lo que se debe evaluarse constantemente los periodos
        de amortización para determinar si eventos o circunstancias posteriores justifican
        las revisiones de la vida útil estimada. <br /><br />
        4. LIQUIDACIÓN: La aplicación de los registros contables, producto de la obsolescencia
        u otros factores económicos que justifiquen la cancelación de las inversiones
        en activos intangibles que han sido registrados como recursos institucionales
        administrativos o productivos, deberán contabilizarse como COSTOS DE VENTAS
        Y CARGOS CALCULADOS.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre bienes de larga duración
      </h2>
      <p class="text-sm">
        Los bienes muebles o inmuebles de larga duración adquiridos con el ánimo
        de utilizarlos en las actividades administrativas o productivas de
        carácter institucional, como también aquellos que forman parte de las
        inversiones en proyectos, deberán contabilizarse como inversiones en
        bienes de uso al valor de compra más todos los gastos inherentes a la
        adquisición, hasta que el bien entre en funcionamiento No obstante,
        aquello bienes muebles cuyo valor de adquisición individual sea igual o
        inferior a seiscientos dólares ($600.00), deberán registrarse en cuentas
        de Gastos de Gestión. <br /><br />
        La Dirección General de Contabilidad Gubernamental, podrá al inicio de cada
        ejercicio contable, actualizar los valores de compra aplicando la variación
        del índice de Precios al Consumidor del año inmediato anterior, desfasado en
        un mes. Las instituciones que por razones de sus actividades requieran aplicar
        criterios diferentes a los establecidos en estas normas, deberán someterlos
        a la aprobación de la Dirección General.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre depreciación de bienes de larga duración
      </h2>
      <p class="text-sm">
        La depreciación corresponde a la pérdida de valor que experimentan los
        bienes de larga duración, como consecuencia del uso y desgaste,
        accidentes, agentes atmosféricos u otros factores de carácter económico,
        cuyo efecto se reflejara en la contabilidad mediante una depreciación
        periódica o acelerada, destinada a prorratear el monto contable del bien
        en el tiempo estimado de vida útil. <br /><br />
        Las instituciones que en razón de sus propias actividades requieran aplicar
        criterios de depreciación distintos al establecido por la Dirección General
        de Contabilidad Gubernamental, deberán someterlos a este, asimismo, cuando
        circunstancias especiales ameriten una depreciación acelerada del valor contable
        de determinados bienes. <br /><br />
        En los casos que disposiciones legales fijen criterios diferentes, deben ser
        puestos en conocimiento previo a la Dirección General, los procedimientos de
        cálculo que serán aplicados.
        <br /><br />
        Método de depreciación Los bienes muebles o inmuebles destinados a las actividades
        institucionales y productivas, deberán depreciarse anualmente aplicando el
        método de depreciación basado en el cálculo lineal o constante.
        <br /><br />
        La vida útil de los bienes se determinará de acuerdo con la siguiente tabla:
        <br /><br />
      </p>
  
      <div class="relative overflow-x-auto my-5">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 d"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50  "
          >
            <tr>
              <th scope="col" class="px-6 py-3"> BIENES </th>
              <th scope="col" class="px-6 py-3"> FACTOR ANUAL </th>
              <th scope="col" class="px-6 py-3"> PLAZO </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white ">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "
              >
                Edificaciones y obras de infraestructura
              </th>
              <td class="px-6 py-4"> 0.025 </td>
              <td class="px-6 py-4"> 40 años </td>
            </tr>
            <tr class="bg-white ">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "
              >
                Maquinaria de producción y Equipo de Transporte
              </th>
              <td class="px-6 py-4"> 0.10 </td>
              <td class="px-6 py-4"> 10 años </td>
            </tr>
            <tr class="bg-white ">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "
              >
                Otros Bienes y Muebles
              </th>
              <td class="px-6 py-4"> 0.20 </td>
              <td class="px-6 py-4"> 5 años </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <p class="text-sm">
        Los bienes muebles e inmuebles provenientes de años anteriores, deberán
        amortizarse en el número de meses o años de vida útil que les resta. Las
        adquisiciones efectuadas en el curso del ejercicio contable, se
        amortizarán en la proporción mensual de permanencia en la actividad
        institucional o productiva.<br /><br />
        En la determinación del monto a depreciar, deberá calcularse un porcentaje
        del 10% al costo de adquisición de los bienes, el que se considerará como valor
        residual o valor de desecho; lo anterior, sin perjuicio de mantener un control
        físico de los bienes al término de la vida útil, en tanto continúen prestando
        servicio en las actividades institucionales o productivas.<br /><br />
        La depreciación se contabilizará utilizando el método indirecto, reflejado
        en cuentas de complemento la depreciación acumulada, y el efecto económico
        se traspasará al grupo 83 Gastos de Gestión, con excepción de las situaciones
        referidas al grupo 25 Inversiones en proyectos o programas, en que se deberá
        aplicar la norma establecida al efecto, o bien se integre a los costos de producción
        de bienes o servicios.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre inversiones de proyectos
      </h2>
      <p class="text-sm">
        Proyectos Los desembolsos imputables a proyectos o grupos de proyectos
        deberán registrarse según la naturaleza de las operaciones y en armonía
        con los objetos específicos de la clasificación presupuestaria de egresos. <br
        /><br />
        El costo contable de los proyectos o programas estará conformado por todos
        aquellos desembolsos inherentes a estos. Las adquisiciones de bienes muebles
        o inmuebles de larga duración con cargo a proyecto, que al finalizar la ejecución
        quedaran formando parte de los recursos institucionales, incrementaran anualmente
        el costo contable en el monto de la depreciación de dichos bienes.<br
        /><br />
        El monto contable de los proyectos que por sus objetivos o características
        no estén destinados a la formación de un bien físico final, como aquellos relacionados
        con obras en bienes de uso público, deberá aplicarse a Gastos de Inversión
        Pública contra la cuenta de complemento respectiva, simultáneamente con la
        contabilización del hecho económico.<br /><br />
        Al 31 de diciembre de cada año, el costo contable deberá trasladarse a la subcuenta
        Costo Acumulado de la Inversión de cada proyecto, excepto las cuentas que representan
        las adquisiciones de bienes muebles e inmuebles de larga duración, las cuales
        tendrán el saldo acumulado hasta que se liquide contablemente el proyecto respectivo.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre retenciones de impuestos
      </h2>
      <p class="text-sm">
        Retenciones por servicios eventuales: Las instituciones obligadas a llevar
        contabilidad que efectúen retenciones de impuestos por prestaciones de
        servicios profesionales de carácter eventual, de conformidad con las Leyes
        Tributarias vigente, deberán considerar el monto a enterar en arcas
        fiscales dentro del pago de la obligación principal y traspasar a la
        cuenta Depósitos por Retenciones Fiscales. El movimiento contable se
        efectuará en la oportunidad que sea cancelado el compromiso de los
        servicios recibidos. <br /><br />
        El entero de los fondos en la Dirección General de Tesorería, deberá efectuarse
        en las fechas establecidas para tal efecto, como un movimiento de intermediación
        de fondos.<br /><br />
        Retenciones por servicios permanentes: Las instituciones obligadas a llevar
        contabilidad que efectúen retenciones de impuestos por prestaciones de servicios
        de carácter permanente, fundamentalmente por concepto de salarios u otros,
        deberán reflejar el compromiso de los fondos a enterar en arcas fiscales en
        la misma cuenta de Acreedores Monetarios que se registre la obligación principal
        e identificarlo dentro de la cartera de acreedores respectiva, de conformidad
        con la norma contable establecida al efecto.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre cierre y apertura de cuentas
      </h2>
      <p class="text-sm">
        Las instituciones del sector público incorporadas al sistema de
        contabilidad gubernamental, deberán al 31 de diciembre de cada año, antes
        de obtener los estados contables definitivos, saldar las cuentas de
        Ingresos y Gastos de Gestión, trasladando el valor en libros a la fecha de
        cierre, a la cuenta Resultado del Ejercicio Corriente.<br /><br />
        En las instituciones facultadas por disposiciones legales para distribuir los
        resultados del año anterior, deberán en el curso del primer semestre del ejercicio
        siguiente a la generación de estos, distribuir el saldo de la cuenta Resultado
        de Ejercicios Anteriores de acuerdo con las regulaciones establecidas al efecto.
        <br /><br />
        Las instituciones que no dispongan de facultades legales para distribuir los
        resultados del año anterior, deberán al 30 de junio del ejercicio siguiente
        a la generación de estos, traspasar el saldo de la cuenta Resultado del Ejercicio
        Corriente a la Cuenta Resultado de Ejercicios Anteriores. <br /><br />
        Al 1 de enero de cada año, las cuentas de los títulos Recursos, Obligaciones
        con Terceros y del grupo Patrimonio Estatal, que al 31 de diciembre del año
        anterior reflejaron saldos deudores o acreedores, deberán ser registrados como
        movimientos de apertura en los mismos conceptos contables del ejercicio finalizado.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre estados financieros básicos
      </h2>
      <p class="text-sm">
        Preparación de los Estados Financieros Los entes responsables de llevar
        contabilidad gubernamental deberán preparar informes y estados sobre la
        marcha económico, financiero y presupuestaria que permitan apoyar el
        proceso de toma de decisiones de la Administración, en la forma y
        contenido que lo soliciten las entidades y organismos, tanto nacionales
        como extranjeros, en dicho caso la información se considerar preliminar y
        el resultado económico presentado será para fines de establecer un
        rendimiento comparativo a la fecha. <br /><br />
        Los estados financieros deberán estar referidos, exclusivamente, a los conceptos
        propios de las actividades institucionales que desarrollen. <br /><br />
        Estados Financieros básicos y fecha de preparación al 30 de junio y 31 de diciembre
        de cada año deberán prepararse los siguientes estados financieros básicos:
        Estado de Situación Financiera, Estado de Rendimiento Económico, Estado de
        Ejecución Presupuestaria, Estado de Flujo de Fondos. <br /><br />
        Los estados financieros deberán incluir notas explicativas que formarán parte
        integral de ellos, destinados a proporcionar información complementaria para
        una adecuada interpretación de la información. El periodo comparativo corresponde
        al inmediatamente anterior.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre control interno contable institucional
      </h2>
      <p class="text-sm">
        Documentación del sistema contable : Las entidades obligadas a llevar
        Contabilidad Gubernamental deberán mantener en las unidades contables, en
        un lugar de fácil acceso y a disposición de los usuarios, un ejemplar del
        manual contable institucional aprobado y sus modificaciones; un compendio
        de las interpretaciones técnicas, propias de situaciones institucionales,
        que afecten el análisis de la información contable; y, la reglamentación
        de los procedimientos administrativos para el manejo de los recursos
        financieros institucionales. <br /><br />
        Además, deberá poseer un ejemplar del Manual de Sub sistema de la Contabilidad
        Gubernamental, y copia de las resoluciones modificativas comunicadas por la
        Dirección General, cuando no corresponda a la última versión oficial; y, una
        recopilación de los instructivos y circulares impartidas por la Dirección General,
        destinados a regular el funcionamiento de la Contabilidad Gubernamental. <br
        /><br />
  
        Contabilización de hechos económicos: Los hechos económicos diariamente se
        deberán contabilizar en el registro de Diario, por orden cronológico,
        quedando estrictamente prohibido diferir las anotaciones. Asimismo,
        periódicamente deberán mayorizarse los movimientos contables. <br /><br />
  
        Registros contables en medios computacionales: Las entidades incorporadas
        al Sub sistema de Contabilidad Gubernamental, al término de cada jornada
        laboral, deberán actualizar los archivos maestros y editar el registro de
        diario en formatos pre numerados e impresos, en tanto no se dispongan se
        emplearán hojas sueltas numeradas correlativamente.
        <br /><br />
        Al término de cada mes, conjuntamente con el cierre operacional, se deberán
        editar el registro de Mayor y un Balance de Comprobación. Los registros de
        Diario, Mayor y Balance de Comprobación, conjuntamente con una constancia escrita
        de aprobación de los datos por el Contador, deberán ser empaquetados o encuadernados
        mensualmente.
        <br /><br />
        Registros Auxiliares: Las cuentas de Recursos y Obligaciones con terceros que
        muestran saldos deudores o acreedores permanentes o que las normas contables
        lo establezcan, deberán ser controladas en registros auxiliares que incluyan
        datos de identificación, tanto de carácter general, origen de los movimientos,
        como cargos y abonos de las operaciones registradas. Los saldos de los registros
        auxiliares deberán ser conciliados, continuamente, con las cuentas de mayor
        respectivas.
        <br /><br />
        Validación anual de los datos contables: Durante el ejercicio contable, periódicamente,
        será obligatorio que los saldos de las cuentas de recurso y obligaciones con
        terceros se encuentren debidamente respaldadas en conciliaciones bancarias,
        circulaciones de saldos, inventario físico de bienes o cualquier otro medio
        de validación que asegure la existencia real de los recursos disponibles y
        compromisos pendientes de carácter institucional.
        <br /><br />
        Archivo de documentación contable: Las autoridades institucionales, conjuntamente
        con el contador deberán adoptar las medidas administrativas y condiciones óptimas
        de seguridad para el resguardo de la documentación, registros y todo otro antecedente
        de respaldo de las rendiciones de cuentas e información contable. <br
        /><br />
        Los antecedentes incorporados al archivo deberán disponer de medios de identificación
        y ubicación que permita el fácil acceso, debiendo permanecer por los plazos
        establecidos en la Ley Orgánica de la Administración Financiera.
        <br /><br />
        Información de apoyo a la toma de decisiones: Las unidades contables deberán
        evaluar permanentemente los requerimientos de información, tanto de las autoridades
        administrativas institucionales como usuarios externos a fin de generar reportes
        con efectividad y economía, dentro de los límites de disponibilidad real de
        datos. <br /><br />
        Los contadores tendrán la obligación de informar con el carácter de extraordinario,
        como apoyo al proceso de toma de decisiones de las autoridades responsables
        de la conducción financiera institucional, toda desviación detectada u observada
        en relación con el comportamiento de las políticas, planes y programas institucionales
        y de Gobierno.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        Normas sobre el control interno contable institucional.
      </h2>
      <p class="text-sm">
        Documentación del sistema contable: Las entidades obligadas a llevar
        Contabilidad Gubernamental deberán mantener en las unidades contables, en
        un lugar de fácil acceso y a disposición de los usuarios, un ejemplar del
        manual contable institucional aprobado y sus modificaciones; un compendio
        de las interpretaciones técnicas, propias de situaciones institucionales,
        que afecten el análisis de la información contable; y, la reglamentación
        de los procedimientos administrativos para el manejo de los recursos
        financieros institucionales. <br /><br />
        Además, deberá poseer un ejemplar del Manual de Sub sistema de la Contabilidad
        Gubernamental, y copia de las resoluciones modificativas comunicadas por la
        Dirección General, cuando no corresponda a la última versión oficial; y, una
        recopilación de los instructivos y circulares impartidas por la Dirección General,
        destinados a regular el funcionamiento de la Contabilidad Gubernamental.<br
        /><br />
        Contabilización de hechos económicos: Los hechos económicos diariamente se
        deberán contabilizar en el registro de Diario, por orden cronológico, quedando
        estrictamente prohibido diferir las anotaciones.<br /><br /> Asimismo, periódicamente
        deberán mayorizarse los movimientos contables. Registros contables en medios
        computacionales:<br /><br /> Las entidades incorporadas al Sub sistema de Contabilidad
        Gubernamental, al término de cada jornada laboral, deberán actualizar los archivos
        maestros y editar el registro de diario en formatos pre numerados e impresos,
        en tanto no se dispongan se emplearán hojas sueltas numeradas correlativamente.<br
        /><br />
        Al término de cada mes, conjuntamente con el cierre operacional, se deberán
        editar el registro de Mayor y un Balance de Comprobación. <br /><br />
        Los registros de Diario, Mayor y Balance de Comprobación, conjuntamente con
        una constancia escrita de aprobación de los datos por el Contador, deberán
        ser empaquetados o encuadernados mensualmente.<br /><br />
        Registros Auxiliares: Las cuentas de Recursos y Obligaciones con terceros que
        muestran saldos deudores o acreedores permanentes o que las normas contables
        lo establezcan, deberán ser controladas en registros auxiliares que incluyan
        datos de identificación, tanto de carácter general, origen de los movimientos,
        como cargos y abonos de las operaciones registradas. <br /><br />
        Los saldos de los registros auxiliares deberán ser conciliados, continuamente,
        con las cuentas de mayor respectivas. <br /><br />
        Validación anual de los datos contables: Durante el ejercicio contable, periódicamente,
        será obligatorio que los saldos de las cuentas de recurso y obligaciones con
        terceros se encuentren debidamente respaldadas en conciliaciones bancarias,
        circulaciones de saldos, inventario físico de bienes o cualquier otro medio
        de validación que asegure la existencia real de los recursos disponibles y
        compromisos pendientes de carácter institucional.<br /><br />
        Archivo de documentación contable: Las autoridades institucionales, conjuntamente
        con el contador deberán adoptar las medidas administrativas y condiciones óptimas
        de seguridad para el resguardo de la documentación, registros y todo otro antecedente
        de respaldo de las rendiciones de cuentas e información contable. <br
        /><br />
        Los antecedentes incorporados al archivo deberán disponer de medios de identificación
        y ubicación que permita el fácil acceso, debiendo permanecer por los plazos
        establecidos en la Ley Orgánica de la Administración Financiera.<br /><br
        />
        Información de apoyo a la toma de decisiones: Las unidades contables deberán
        evaluar permanentemente los requerimientos de información, tanto de las autoridades
        administrativas institucionales como usuarios externos a fin de generar reportes
        con efectividad y economía, dentro de los límites de disponibilidad real de
        datos. <br /><br />
        Los contadores tendrán la obligación de informar con el carácter de extraordinario,
        como apoyo al proceso de toma de decisiones de las autoridades responsables
        de la conducción financiera institucional, toda desviación detectada u observada
        en relación con el comportamiento de las políticas, planes y programas institucionales
        y de Gobierno.<br /><br />
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        NORMAS SOBRE EL REGISTRO CONTABLE DEL IMPUESTO A LA TRANSFERENCIA DE
        BIENES MUEBLES Y A LA PRESTACIÓN DE SERVICIOS (IVA).
      </h2>
      <p class="text-sm">
        1. CONCEPTUALIZACION<br /><br />
        Las Instituciones obligadas a llevar Contabilidad Gubernamental, que de conformidad
        al marco legal y técnico tributario establecido estén considerados como sujetos
        pasivos o deudores del Impuesto sobre la Transferencia de Bienes Muebles y
        a la Prestación de Servicios, y estén inscritos como contribuyentes o Manual
        Técnico del Sistema de Administración Financiera Integrado responsables, deberán
        considerar para el registro de los hechos económicos los procedimientos técnicos
        que para tal efecto determine la DGCG.<br /><br />
        2. APLICACION Y REGISTRO DEL IMPUESTO
        <br /><br />
        Respecto a la compra de bienes y servicios gravados, deberá identificarse por
        separado el impuesto causado, y registrarlo como un Crédito Fiscal Con relación
        a la venta de bienes y servicios gravados, deberán separarse de la venta el
        valor del impuesto y registrarlo como Débito Fiscal, para su posterior liquidación.<br
        /><br />
        3. DETERMINACION DEL IMPUESTO AL FINAL DEL PERIODO TRIBUTARIO<br /><br />
        Al final de cada período tributario, el impuesto se determinará de la diferencia
        obtenida al deducir del débito fiscal causado en el período tributario, el
        crédito fiscal.<br /><br />
        Para el caso de operaciones realizadas en un período tributario, sean esta
        parte gravadas y parte exentas, el cálculo del impuesto se determinará de acuerdo
        al marco legal establecido. Al efectuar el cálculo del Impuesto del período
        tributario, pueden presentarse dos situaciones:<br /><br />
        a. Cuando el Crédito Fiscal fuese superior al Débito Fiscal del período tributario,
        este resultado deberá considerarse como remanente para ser reclamado en el
        siguiente período. <br /><br />
        b. Sí el Débito Fiscal es mayor que el Crédito Fiscal del período, se deberá
        efectuar el devengamiento del valor a pagar de conformidad al procedimiento
        técnico establecido.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        NORMAS SOBRE DETRIMENTOS PATRIMONIALES
      </h2>
      <p class="text-sm">
        1. DETRIMENTO PATRIMONIAL DE FONDOS<br /><br />
        Las pérdidas de fondos que se presumen causadas por empleados, terceros ajenos
        a la Institución o derivadas de casos fortuitos o fuerza mayor, deberán traspasarse
        a la cuenta de complemento DETRIMENTO DE FONDOS por el monto determinado de
        acuerdo con los registros contables, tal situación se mantendrá mientras las
        autoridades administrativas o judiciales, de acuerdo a la respectiva competencia,
        no dicten una resolución definitiva sobre la materia.<br /><br />
        En aquellos casos que por la vía administrativa o legal se identifiquen responsables,
        siendo sancionados con el reintegro de los fondos, sean empleados, o bien,
        personas naturales o jurídicas ajenas al ente, deberá registrarse dicha resolución
        como un crédito monetario otorgado por la institución. La aplicación deldetrimento
        en los fondos institucionales se efectuará directamente contra la cuenta A.M.
        X INVERSIONES FINANCIERAS.<br /><br />
        Si por el contrario, las autoridades competentes resuelven que no es factible
        determinar responsables, sea por causas de fuerza mayor o fortuita, o bien,
        es imposible identificar a empleados, como tampoco a personas naturales o jurídicas
        ajenas al ente, deberá registrarse dicha resolución como un gasto monetario.<br
        /><br />
        Manual Técnico del Sistema de Administración Financiera Integrado realizado
        por la Institución. La aplicación del detrimento en los fondos institucionales
        se efectuará contra la cuenta A.M. X TRANSFERENCIAS CORRIENTES OTORGADAS que
        registrará el compromiso monetario del gasto.<br /><br />
        2. DETRIMENTO PATRIMONIAL DE INVERSIONES<br /><br />
        Las pérdidas o daños en bienes de uso, existencias o inversiones financieras
        que presumen causadas por empleados, o terceros ajenos a la Institución o derivadas
        de casos fortuitos o fuerza mayor, deberán traspasarse a la cuenta del Subgrupo
        DETRIMENTO PATRIMONIAL correspondiente, por el monto determinado de acuerdo
        con los datos contenidos en los registros contables; si la situación se resuelve
        administrativamente, deberá liquidarse durante el ejercicio contable vigente,
        si fuese por la vía judicial, hasta que las autoridades competentes dicten
        una resolución definitiva sobre el caso. Lo anterior no exime al responsable
        de la información financiera contable a verificar periódicamente el avance,
        hasta efectuar la liquidación de los saldos en las cuentas de Detrimento<br
        /><br />
        En aquellos casos que por la vía administrativa o legal se identifique responsables,
        siendo sancionados con un monto en dinero destinado a resarcir el valor en
        libros de los bienes corporales o inversiones financieras, sean empleados o
        personas naturales o jurídicas ajenas a la Institución, dicha resolución deberá
        contabilizarse como un ajuste contable en los recursos institucionales. <br
        /><br />La aplicación del detrimento deberá efectuarse directamente contra
        la cuenta DEUDORES POR REINTEGROS<br /><br />
        Si por el contrario, las autoridades competentes resuelven que no es factible
        determinar responsables, sea por causas de fuerza mayor o fortuita, o bien,
        es imposible identificar a empleados, como tampoco apersonas naturales o jurídicas
        ajenas al ente, deberá contabilizarse dicha resolución como un ajuste contable
        a los gastos de gestión institucional. <br /><br />La aplicación del
        detrimento deberá efectuarse directamente contra la cuenta del Subgrupo
        GASTOS DE ACTUALIZACIONES Y AJUSTES correspondiente.
      </p>
    </div>
    <div class="mt-10">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
      >
        NORMAS SOBRE COMPROBANTE CONTABLE
      </h2>
      <p class="text-sm">
        COMPROBANTE DE CONTABILIDAD:<br /><br /> La documentación de respaldo de las
        operaciones financieras que modifiquen la composición de los recursos y obligaciones
        institucionales, deberá ser resumida en un comprobante de contabilidad preparado
        en forma manual, mecanizada o computarizada. <br /><br />
        El formulario se denominará COMPROBANTE DE DIARIO y tendrá que estar en armonía
        con el modelo establecido para tal efecto. No obstante, si las circunstancias
        de requerimiento de información y las características de las actividades institucionales
        lo ameritan, podrán adoptarse otros formularios para reflejar los movimientos
        contables, o bien, introducir modificaciones al modelo diseñado del comprobante
        de diario, para ajustarlo a las características institucionales.
      </p>
    </div>
  </div>
</article>
