<article class="p-5">

  <div class="lg:p-10 lg:w-8/12">
    <h2
      class="mt-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900 "
    >
      Contabilidad agrícola.
    </h2>
    <p class="">
      1. “la contabilidad agrícola, siendo una contabilidad especializada en
      registrar todos los eventos agrícolas, desde la preparación de la tierra y
      siembra, hasta la recolección y almacenamiento de un cultivo determinado.”
      <br /><br />
      2. “Es una rama de la contabilidad financiera que trata de la recopilación
      y control de la información de costos generados de las operaciones relativas
      a cultivos de tierra”
    </p>
  </div>

  <section class=" mt-10 lg:p-10">
    <div
      class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2"
    >
      <div class="sm:text-lg">
        <h2
          class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
        >
          Objetivos de la contabilidad Agrícola
        </h2>
        <p class="text-sm">
          • Conocer el monto de lo invertido en cada clase de cultivo <br />
          • Conocer el rendimiento de las distintas clases de cultivo.<br />
          • Determinar las ganancias o perdidas experimentadas en las empresas agrícolas.
          <br />
          • Determinar la situación económica financiera de la empresa agrícola <br
          />
          • Registra las operaciones de acuerdo a las NIIF completas o la NIIF para
          las PYMES según sea el caso. <br />
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full  rounded-lg"
          src="../sector-agricola3.jpeg"
          alt="sector agricola 2"
        />
        <img
          class="w-full rounded-lg"
          src="../sector-agricola4.jpeg"
          alt="sector agricola 2"
        />
      </div>
    </div>
  </section>

  <section class="bg-white mt-10 lg:p-10">
    <div
      class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2"
    >
      <div class="sm:text-lg">
        <h2
          class="mt-5 mb-4 text-2xl tracking-tight font-bold text-gray-900 "
        >
          Importancia de la contabilidad agrícola.
        </h2>
        <p class="text-sm">
          La contabilidad agrícola surge de la necesidad de las empresas
          agrícolas de poseer un control en el registro de la información de las
          transacciones y procesos, que conlleven a la cuantificación monetaria
          y física para tomar decisiones de carácter administrativo, puesto que
          es una rama de la contabilidad general y el uso de esta cualquiera que
          sea la importancia de su explotación, permitirá obtener una mayor
          compresión del resultado económico y a la vez un mejor conocimiento
          para determinar si debe seguir en su cultivo actual, diversificarlo,
          combinarlo y/o arrendar la tierra.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-8 ">
        <div class="flex justify-center">

          <img
            class="w-full lg:w-8/12 rounded-lg "
            src="../sector-agricola1.jpeg"
            alt="sector agricola 1"
          />
        </div>
      </div>
    </div>
  </section>

  <div class="mt-10 lg:pt-10 lg:px-10 lg:w-8/12">
    <h2 class="text-4xl font-bold text-red-600">
      Normas Contables 
    </h2>
  </div>
  
  <div class="lg:p-10 lg:w-8/12">
    <div class="">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900"
      >
        NIC 41. AGRICULTURA:
      </h2>
      <p class="">
        Esta contiene los criterios sobre el tratamiento, presentación en los
        Estados financieros y las revelaciones relacionadas con los activos
        biológicos y productos agrícolas de los entes que tiene que ver con la
        actividad agrícola, para la toma de decisiones. El objetivo de esta
        norma en si es definir la contabilidad de la actividad agrícola. <br
        /><br />
        1. Activos biológicos. Esto influye seres vivos que la entidad controla y
        que son utilizados en la entidad agrícola ejemplos de activos biológicos
        son ovejas, arboles de una plantación forestal, ganado lechero, cerdo, plantas
        de algodón, caña de azúcar, matas de té, y arboles de fruta
        <br /><br />
        2. Productos agrícolas. Estos son los productos obtenidos de los activos
        biológicos de la entidad, pero solo hasta el punto de su cosecha o recolección,
        a partir de este momento, se utilizan las normas relacionadas con los productos
        como la NIC 2 inventarios
        <br /><br />
        3. Subvenciones del gobierno. La NIC 41 también aborda las subvenciones del
        gobierno relacionadas con la actividad agrícola
      </p>
    </div>
    <div class="">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900 "
      >
        LEY DE COMERCIALIZACION AGRICOLA:
      </h2>
      <p class="">
        la ley de EL SALVADOR presento la iniciativa ante la asamblea
        legislativa para apoyar la ley integral de comercialización agropecuaria
        esta busca regular actividades del sector para mejorar la productividad,
        rentabilidad y competitividad de los agronegocios de las cadenas
        producidas y equilibrar los precios de los productos agrícolas del país.
        En pocas palabras se busca Fomentar el desarrollo de la agricultura y la
        industrialización. <br /><br />
        <h3 class="font-bold">Sujetos:</h3>
        <br />
        1 mejora de la productividad y rentabilidad. La ley busca mejorarla productividad,
        rentabilidad y productividad de los agronegocios y sus cadenas agropecuarias.
        <br /><br />
        2 accesos a nuevos mercados. Se promueve el acceso a nuevos mercados tanto
        a nivel nacional como internacional para los agronegocios

        <br /><br />
        3 sistema nacional de establecimiento agropecuario. La ley contempla la creación
        de un sistema nacional de establecimiento agropecuario, administrado por
        el centro de desarrollo de comercio agropecuario (CDCA) este sistema tiene
        como objetivo coordinar el alcance y movimiento de servicios, bienes y productos
        agropecuarios para producir la vulnerabilidad alimentaria y sentar las bases
        de una futura soberanía alimentaria a nivel nacional
        <br /><br />
        4 Reducción de distorsiones de precios. La ley busca disminuir las distorsiones
        de precios en el mercado atendiendo a sus causas
      </p>
    </div>
    <div class="">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900 "
      >
        TRATAMIENTOS DE LA GARANTIA EN CREDITOS AGROPECUARIO:
      </h2>
      <p class="">
        El objetivo de estas es respaldar los créditos otorgados por entidades
        financieras vigiladas que financian proyectos en el sector
        agroindustrial. Estos créditos se dirigen a personas jurídicas,
        naturales o empresas comunitarias en todo el territorio colombiano. El
        FAG proporciona garantías para aquellos productores que no pueden
        ofrecer las garantías ordinariamente exigidas por instituciones
        financieras. <br /><br />
        <h3 class="font-bold">Sujetos:</h3>
        <br />
        1 bancos. Esto incluye tanto bancos comerciales como bancos cooperativos
        <br />
        2 entidades de seguros. La SSF supervisa las compañías de seguros y finanzas
        <br />
        3 sociedades de ahorro y crédito. Estas instituciones también están sujetas
        a la supervisión de la SSF <br />
        4 pensiones. Las administradoras de fondos de pensiones también están bajo
        su supervisión <br />
        5 buros de créditos. Estas entidades que recopilan información crediticia
        también están sujetas a supervisión <br />
      </p>
    </div>
    <div class="">
      <h2
        class="mt-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900 "
      >
        COOPERATIVAS AGROPECUARIAS:
      </h2>
      <p class="">
        Esto se ase con el objetivo de adquirir en mejores condiciones de
        calidad y precio maquinarias, semillas, abonos, todo tipo de insumos,
        proveerse asistencia técnica y profesional de colocar la producción a
        precios convenientes en el mercado interno e internacional. <br /><br />
        1. beneficios compartidos. Los miembros de una cooperativa agraria comparten
        conocimiento, gastos y beneficios. Al unirse pueden acceder a mercados más
        grandes y mitigar riesgos. <br /><br />
        2. Acceso al mercado y suministros. Las cooperativas permiten un mejor acceso
        a los mercados y los insumos necesarios para la reproducción agrícola. <br
        /><br />
        3. Menor costo de reproducción. Al trabajar en conjunto los costos de producción
        pueden reducirse, lo que beneficia a todos los miembros. <br /><br />
        4. Mitigación de riesgos. En una cooperativa los agricultores comparten los
        riesgos, lo que puede ser especialmente útil en situaciones impredecibles
        como cambios climáticos o fluctuaciones de precios. <br /><br />
        5. Sistema de gestión democrático. Cada miembro tiene derecho a votar, y
        elegir representantes en la junta directiva, las decisiones se toman de manera
        colectiva.
        <br /><br />
      </p>
    </div>
  </div>
</article>
