<section class="bg-cyan-900 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-[#a5e4fc] dark:text-white"
        >
          Sector Gubernamental
        </h2>
        <p class="text-gray-300 sm:text-xl dark:text-gray-400">
          El sector gubernamental o también llamado sector Público son todas aquellas instituciones y organismos administrativos pertenecientes al Estado. A través de estas instituciones el Estado puede brindar servicios básicos e indispensables a los habitantes.
        </p>
  
        <a href="/sector-gubernamental" class="flex items-center gap-2 mt-4">
          <span class="text-gray-300 font-bold"> Ver Mas... </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-gray-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
  