---


---


<section class="  bg-cyan-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
    <div class="max-w-screen-md ">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-[#a5e4fc] "
      >
        Sector Bancario
      </h2>
      <p class="text-gray-200 sm:text-xl">
        La contabilidad bancaria es una rama de la contabilidad financiera, dentro de la cual las operaciones se registran y clasifican de acuerdo a los términos bancarios, teniendo un catalogo de cuentas especial, de acuerdo a las actividades desarrolladas por los bancos. 
      </p>

      <a href="/sector-bancario" class="mt-4 flex items-center gap-2">
        <span class="text-gray-300 font-bold">
          
          Ver Mas...
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-300 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
        
      </a>
    </div>
  </div>
</section>


<style>
  .custom-shape-divider-bottom-1711755522 {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1711755522 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
  }

  .custom-shape-divider-bottom-1711755522 .shape-fill {
    fill:  rgb(22 78 99 / var(--tw-bg-opacity));
  }
</style>